In [12]:
import os
os.getcwd()
os.chdir("G:/OneDrive/casa0010dissertation/00_06 jaipur code")

In [13]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [3]:
gpd.read_file("data/raw/JMC_wards_shapefile.shp")

,Id,Area,Ward_No,POP,DENS_PPH,NAME,assembly,jmc,X,Y,lon,lat,geometry
0,1,502,1,11930,24,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,574626.431817,2.988687e+06,75.752277,27.018317,"POLYGON ((574011.047 2987648.778, 572694.965 2..."
1,2,477,2,11096,23,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,574052.087406,2.987101e+06,75.746393,27.004035,"POLYGON ((574011.047 2987648.778, 575313.015 2..."
2,3,150,3,12110,81,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,575995.451217,2.987597e+06,75.766009,27.008404,"POLYGON ((575313.015 2987671.726, 575931.498 2..."
3,4,156,4,12097,78,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,576790.537250,2.987811e+06,75.774036,27.010297,"POLYGON ((576455.893 2986652.841, 576416.574 2..."
4,5,453,5,12158,27,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,578926.085803,2.987224e+06,75.795523,27.004871,"POLYGON ((577342.574 2987267.38, 577350.118 29..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,247,152,96,12987,85,ADARSH NAGAR,AdarshNgr_Assembly,100,583779.895242,2.973717e+06,75.843534,26.882654,"POLYGON ((585021.189 2973317.124, 584964.517 2..."
247,248,226,97,13561,60,ADARSH NAGAR,AdarshNgr_Assembly,100,584541.164690,2.974331e+06,75.851240,26.888149,"POLYGON ((583400.464 2974528.479, 583723.893 2..."
248,249,141,98,12506,89,ADARSH NAGAR,AdarshNgr_Assembly,100,585420.974158,2.974756e+06,75.860127,26.891936,"POLYGON ((583757.114 2975454.826, 583763.557 2..."
249,250,781,99,12356,16,ADARSH NAGAR,AdarshNgr_Assembly,100,586205.579191,2.976169e+06,75.868124,26.904642,"POLYGON ((586411.333 2974965.275, 586409.223 2..."
250,251,582,100,12639,22,ADARSH NAGAR,AdarshNgr_Assembly,100,588830.403777,2.975397e+06,75.894500,26.897504,"POLYGON ((588771.33 2974269.885, 587986.951 29..."

In [4]:
gdf = gpd.read_file("data/raw/JMC_wards_shapefile.shp")

In [5]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        251 non-null    int64
 1   Area      251 non-null    int64
 2   Ward_No   251 non-null    int64
 3   POP       251 non-null    int64
 4   DENS_PPH  251 non-null    int64
 5   NAME      248 non-null    object
 6   assembly  251 non-null    object
 7   jmc       251 non-null    int64
 8   X         251 non-null    float64
 9   Y         251 non-null    float64
 10  lon       251 non-null    float64
 11  lat       251 non-null    float64
 12  geometry  251 non-null    geometry
dtypes: float64(4), geometry(1), int64(6), object(2)
memory usage: 25.6+ KB

In [6]:

gdf['ward_id'] = gdf.apply(lambda row: f"G_{row['Ward_No']}" if row['jmc'] == 150 else f"H_{row['Ward_No']}", axis=1)

In [7]:
gdf.head(10)

,Id,Area,Ward_No,POP,DENS_PPH,NAME,assembly,jmc,X,Y,lon,lat,geometry,ward_id
0,1,502,1,11930,24,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,574626.431817,2.988687e+06,75.752277,27.018317,"POLYGON ((574011.047 2987648.778, 572694.965 2...",G_1
1,2,477,2,11096,23,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,574052.087406,2.987101e+06,75.746393,27.004035,"POLYGON ((574011.047 2987648.778, 575313.015 2...",G_2
2,3,150,3,12110,81,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,575995.451217,2.987597e+06,75.766009,27.008404,"POLYGON ((575313.015 2987671.726, 575931.498 2...",G_3
3,4,156,4,12097,78,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,576790.537250,2.987811e+06,75.774036,27.010297,"POLYGON ((576455.893 2986652.841, 576416.574 2...",G_4
4,5,453,5,12158,27,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,578926.085803,2.987224e+06,75.795523,27.004871,"POLYGON ((577342.574 2987267.38, 577350.118 29...",G_5
5,6,167,6,10482,63,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,575167.596223,2.985909e+06,75.757563,26.993211,"POLYGON ((574382.988 2985460.401, 574487.973 2...",G_6
6,7,139,7,10226,74,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,576226.932410,2.985574e+06,75.768218,26.990132,"POLYGON ((576128.447 2986330.344, 576189.762 2...",G_7
7,8,845,8,10646,13,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,577746.780213,2.985035e+06,75.783501,26.985177,"POLYGON ((577342.574 2987267.38, 577361.105 29...",G_8
8,9,164,9,12315,75,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,574473.294299,2.984874e+06,75.750504,26.983907,"POLYGON ((573421.619 2985608.232, 573557.252 2...",G_9
9,10,59,10,11318,192,VIDHYADHAR NAGAR,VidyadharNgr_Assembly,150,576031.941819,2.984787e+06,75.766205,26.983039,"POLYGON ((575446.537 2985182.687, 575558.342 2...",G_10

In [8]:
gdf.to_file("data/raw/jaipur_ward_with_jmc.shp", driver='ESRI Shapefile')

In [15]:
gdf2= gpd.read_file("output/jaipur_economic_potential_index_re.shp")

In [16]:
gdf2.columns

Index(['hex_id', 'cover', 'transport_', 'transpor_1', 'motorable_',
       'amenities_', 'office_poi', 'shop_poi', 'area_clip', 'pop_sum',
       'builtup_su', 'ndvi_mean', 'ntl_mean', 'pop_densit', 'builtup_de',
       'PC1_Score_', 'PC1_Scor_1', 'EPI_o', 'EPI', 'EPI_o_Cate', 'EPI_Catego',
       'geometry'],
      dtype='object')

In [ ]:
original= ['transport_', 'transpor_1', 'motorable_', 'amenities_', 'office_poi', 'shop_poi', 'area_clip', 'pop_sum',
'builtup_su', 'ndvi_mean', 'ntl_mean', 'pop_densit', 'builtup_de']

In [ ]:
renamed= ['transport_station_point', 'transport_station_polygon', 'motorable_network', 'amenities_poi', 'office_poi', 'shop_poi', 'NDVI', 'nighttime_light_intensity', 'pop_density', 'builtup_density']

In [17]:
gdf3=gpd.read_file("output/jaipur_economic_potential_index_re.shp")

In [18]:
gdf3.describe()

,hex_id,cover,transport_,transpor_1,motorable_,amenities_,office_poi,shop_poi,area_clip,pop_sum,builtup_su,ndvi_mean,ntl_mean,pop_densit,builtup_de,PC1_Score_,PC1_Scor_1,EPI_o,EPI
count,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000,1.799000e+03,1.799000e+03,1.799000e+03,1.799000e+03
mean,1484.344080,0.982600,1.143333,0.007883,32795.421135,5.389677,0.275429,1.686785,212739.245420,1682.764216,58791.878112,0.305591,24.985778,7832.377218,0.274002,6.319446e-17,-2.527778e-16,6.319446e-17,-3.159723e-17
std,695.041486,0.070600,3.920743,0.071651,19925.786412,12.460756,1.721571,10.099498,15285.448537,2083.399040,39417.180404,0.083636,12.000231,9603.610860,0.181587,1.999763e+00,1.401569e+00,1.000278e+00,1.000278e+00
min,23.000000,0.509526,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,110315.598495,113.393046,0.000000,0.071878,1.982470,699.999999,0.000000,-4.746869e+00,-3.602962e+00,-2.374376e+00,-2.571379e+00
25%,938.500000,1.000000,0.000000,0.000000,16077.744276,0.000000,0.000000,0.000000,216506.350946,497.964606,22125.738869,0.242083,15.047525,2344.494327,0.106458,-1.335484e+00,-9.286882e-01,-6.680071e-01,-6.627905e-01
50%,1456.000000,1.000000,0.000000,0.000000,35108.557152,0.000000,0.000000,0.000000,216506.350946,1039.153689,61299.469804,0.289208,25.772130,4926.209074,0.286667,7.713211e-02,-1.156007e-01,3.858135e-02,-8.250245e-02
75%,2069.500000,1.000000,0.000000,0.000000,50047.529146,4.618802,0.000000,0.000000,216506.350946,2024.454996,93420.828887,0.357407,33.910071,9396.464456,0.432198,1.481522e+00,9.842743e-01,7.410549e-01,7.024614e-01
max,2886.000000,1.000000,46.188022,1.000000,79229.462139,152.420471,36.950417,263.271723,216506.350946,20280.825682,156911.072665,0.579837,71.357017,93673.121334,0.724741,6.440531e+00,5.062563e+00,3.221543e+00,3.613074e+00